/* src/components/ProductList.css */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  gap: 16px;
  padding: 16px;
  max-width: 800px;
  margin: auto;

  
}
